@model BizzDesk_Leap_Client.Areas.HRAdmin.ViewModels.EmployeeViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><b>Employee Details</b></h4>
</div>
    <div class="modal-body">
        <dl class="dl-horizontal">

                <dt> Employee ID: </dt>
                <dd> @Html.DisplayFor(model => model.Employee.EmployeeID)</dd>
                <dt> Last Name: </dt>
                <dd> @Html.DisplayFor(model => model.Employee.LastName)</dd>
                <dt> Middle Name: </dt>
                <dd> @Html.DisplayFor(model => model.Employee.MiddleName)</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
    </div>

